<h1>New Blog Entry</h1>

<%= stylesheet_link_tag 'newpost' %>

<%= form_with model: @post, data: { turbo: false } do |form| %>
    <div>
        <div>
            <%= form.label :title%>
        </div>
        <div>
            <%= form.text_field :title%>
        </div>
    </div>
    <div class="body">
        <div>
        <%= form.label :body%>
        </div>
        <div>
            <%= form.text_area :body, size: "150x10"%>
        </div>
    </div>

    <%= form.submit "Enter new post", class: "new-post-btn" %>
<% end %>
